.navbar {
  background-color: #3A59D1;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.navbar-name {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10%;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  margin-right: 35%; 
}

.navbar-list li {
  font-size: 1rem;
}

.navbar-list li a {
  color: whitesmoke;
  text-decoration: none;
}

.navbar-list li a:hover {
  color: #7AC6D2; 
  transition: 0.3s;
}
